  /*FRANCE*/
.france {
  padding-right: 0;
  padding-left: 0;
  height: 100%
}

.france-c1 {
  background-color: #002395;
}
.france-c2 {
  background-color: #fff;
}
.france-c3 {
  background-color: #ED2939;
}
