/*ITALY*/
.italy {
  padding-right: 0;
  padding-left: 0;
  height: 100%
}

.italy-c1 {
  background-color: #009246;
}
.italy-c2 {
  background-color: #fff;
}
.italy-c3 {
  background-color: #CE2B37;
}
