.form_reloj span {
  background-color : #0CCE6B;
  color : black;
  font-family : Verdana, Arial, Helvetica;
  text-align : center;
  border-style: solid;
  border-width: thin;
  font-size: 18px;
}

form.form_reloj {
  display: flex;
  align-items: center;
  justify-content: center;
}
