body {
  background: #324A5F;
}
.outside {
  height: 600px;
  width: 100%;
}
.half {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50%;
}
.flag {
  padding: 10px;
  height: 100%;
}
.d-flex {
  width: 100%;
}
.stop-button {
  width: 100%;
  text-align: center;
}
