/*GERMANY*/
.germany {
  padding-right: 0;
  padding-left: 0;
}
.germany-c1 {
  height: 33.33%;
  background-color: #000;
}
.germany-c2 {
  height: 33.33%;
  background-color: #F00;
}

.germany-c3 {
  height: 33.33%;
  background-color: #FC0;
}
