/*GREECE*/
.pad {
  padding-left: 0;
  padding-right: 0;
}
.row-white {
  height: 20%;
}
.row-white2 {
  height: 25%;
}
.row-blue {
  height: 20%;
  background-color: #2175d8;
}
.row-blue2 {
  height: 25%;
  background-color: #2175d8;
}
.greece-top {
  padding-right: 0;
  padding-left: 0;
  height: 55.56%;
  background-color: #fff;
}
.greece-bottom {
  padding-right: 0;
  padding-left: 0;
  height: 44.44%;
  background-color: #fff;
}
.greece {
  height: 100%;
}
