/*GERAL*/
.container {
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  width: 980px;
}
.flex-column {
  height: 100%;
}
.sec4 {padding-top: 80px; text-align: center;}
#map {
  padding: 15px;
  width: 300px;
}
#pessoa {
  width: 100%;
}
h1 { font-size: 40px; line-height: 53.9px; margin-bottom: 0; text-align: center; padding-bottom: 15px;}
h2 { font-size: 25px; line-height: 15.4px;}
p { font-size: 25px; line-height: 20px; margin-top: 30px; margin-bottom: 15px;}
blockquote { font-size: 21px; line-height: 30px; }
pre { font-size: 13px; font-style: italic; font-weight: 700; line-height: 18.5667px; }
a {text-decoration: none; outline: none; color: #fff; font-size: 30px; }
li {margin-top: 30px; list-style: none; padding-top: 30px;}

#secao-02 h2 {font-size: 50px; padding-top: 10px; margin-top: 15px; margin-bottom: 20px;}
#secao-03 h2 {font-size: 50px; padding-top: 10px; margin-top: 15px; margin-bottom: 20px;}
#secao-04 h2 {font-size: 50px; padding-top: 10px; margin-top: 15px; margin-bottom: 20px;}
#secao-04 img {width: 100%; margin-top: 50px;}
