/*COLUMN*/
.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.column {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.column-half {
  width: 50%;
}

@media (max-width: 610px) {
  .column {
    float: none;
  }

  .column-half {
    width: 100%;
  }
}
