/*CONTATO*/
.contact {
  margin-bottom: : 10px;
  margin-top: : 10px;
}

.contact p {
  text-align: justify;
}

.contact label {
  text-align: right;
}

.contact-form {
  padding: 25px;]
  margin-bottom: 15px;
  margin-top: 15px;
}

.form div {
  margin: 10px 0;
}

#name, #number, #email {
  width: 100%;
}

#message {
  width: 100%;
  height: 80px;
  max-width: 100%;
  /* resize: none; */
}

.input-right {
  float: right;
}
