/*PRODUTOS*/
.product-item {
  margin-left: 0;
  padding: 0;
}


.product-item li {
  padding: 10px;
  text-align: center;
  list-style: none;
}

.product-item h2,
.product-item a {
  text-align: center;
}

.product-item div {
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-image: url(../img/beach-background.jpg);
}

.product-item img {
  width: 100px;
  margin-bottom: 15px;
}
